{% load static %}
/* contactus.css */

/* Reset some default styles */
body, h2, p {
    margin: 5;
    padding: 5;
}

/* Style the body background and font */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* Style the contact form container */
#contact-form-wrap {
    width: 300px;
  margin: 0 auto;
  padding: 20px ;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style the h2 header */
h2 {
    color: #333;
    text-align: center;
}

/* Style form labels */
label {
    display: block;
    margin-bottom: 20px;

}

/* Style form input and textarea fields */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Style the Submit button */
#submit {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
}

/* Style the Submit button on hover */
#submit:hover {
    background-color: #45a049;
}
